PORT=3000
CLIENT_URL=http://localhost:5173

# PostgreSQL connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vacation_db
DB_USER=postgres
DB_PASSWORD=yourpassword

DB_SYNC=true # should be false for production
